
/* .navbar-text { margin-left: 15px; } */

/* .gray { background: #f5f5f5; } */

.green { background: #88BF44; }

.yellow { background: rgb(255, 196, 0); }

/* .yellow { background: #ffff8d; }

.blue { background: #84ffff; }

.darkBlue { background: #80d8ff; }

.deepBlue { background: #448aff; }

.purple { background: #b388ff; }

.lightPurple { background: #8c9eff; }

.red { background: #ff8a80; }

.pink { background: #ff80ab; } */

.footer .footer-content {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

#schedule-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}

#schedule-details {
  font-size: 16px;
  font-style: italic;
  margin-top: 5px;
}

/* #container {
  margin-top: 10px;
} */

/* #slots {
  color: blue;
} */

/* .page {
  background-color: #88BF44;
  border: .5px solid #f8f8f8;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: #f8f8f8;
  text-decoration: none;
  text-align: center;
  width: 20px;
}

.no-under {
  text-decoration: none;
}

.page a:visited {
  background-color: #88BF44;
  color: #f8f8f8;
}

.page:active {
  background-color: #f8f8f8;
  color: #88BF44;
}

.page:hover {
  background-color: #f8f8f8;
  color: #88BF44;
} */

#sched-page {
  background-color: yellow;
  color: pink;
}

#sched-page:hover {
  background-color: pink;
  color: yellow;
}

/* #sched-page:active {
  color: blue;
} */