body, html {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #3C3C3C;
}

.header .container h1 {
  font-size: 32px;
  font-weight: 600;
  /* color: #1CCE28; */
}

.header {
  background-color: #f8f8f8;
  color: #3C3C3C;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* header positioning */

#header-absolute-1 {
  position: absolute;
  margin-left: -100px;
}

#header-absolute-2 {
  position: absolute;
}

#header-logo {
  position: relative;
  width: 100%;
}

/* end header positioning */

/* a {
  color: #1CCE28;
} */

/* #entryForm {
  margin-top: 14px;
} */

#container {
  margin-top: 10px;
}

/* .container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
} */

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #3C3C3C;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* li {
  float: left;
} */

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  text-decoration: underline;
  color: #eee;
} */

#login-btn {
  margin-top: -25px;
}

.btn-green {
  background-color: #1CCE28 !important;
}

.md-whiteframe-11dp{
  transition:all ease-in 1s;
  background-color: lightblue;
  height: 175px;
  width: 400px;
  padding:10px;
  padding-bottom:0px !important;
  border-radius: 1%
}

.ng-hide {
  height: 0;
}

.hsAutocomplete{
  transition: all ease-in 1s;
}

/* .md-whiteframe-11dp.ng-enter {
  transition:all ease-in 0.25s;
  height: 0px;

} */

#googleInput {
  height: 40px;
  width: 380px;
  
}

/* directory view */

.directory-profile-photo-container {
  height: 250px;
  width: 250px;
  /* display: table-cell; */
  overflow: hidden;
}

.directory-profile-photo-container img {
  height: auto;
  width: 350px;
}

.directory-container {
  padding: 5px;
}

.therapist-name {
  font-size: 16px;
  font-weight: bold;
}

.therapist-title {
  font-size: 12px;
  width: 250px;
}

/* end directory view */

/* pagination styling */

.pagination-div {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 50px;
  width: 100%;
}

.pagination {
  position: relative;
  width: 100%;
}

.page {
  background-color: #1CCE28;
  border: .5px solid #f8f8f8;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  color: #f8f8f8;
  text-decoration: none;
}

.no-under {
  text-decoration: none;
}

.page a:visited {
  background-color: #1CCE28;
  color: #f8f8f8;
}

.page:active {
  background-color: #f8f8f8;
  color: #1CCE28;
}

.page:hover {
  background-color: #f8f8f8;
  color: #1CCE28;
}

/* end pagination styling */
