body, html {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #3C3C3C;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px !important;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  overflow: visible !important;
  vertical-align: bottom;
  /* margin-left: 25px; */

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.home-footer {
  background-color: #266B26;
  height: 100%;
}

/* header styling */

.header h1 {
  font-size: 32px;
  font-weight: 600;
}

.header {
  background-color: #f8f8f8;
  color: #3C3C3C;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#funny-slash {
  color: #88BF44;
}

.header-small {
  font-size: 20px;
}

.slim-header {
  height: 80px;
  background-color: #88BF44;
}

.slim-header-text {
  margin-left: 5%;
  margin-right: 10px;
}

.slim-header a {
  color: #f8f8f8;
  font-size: 22px;
}

.green-background {
  background-color: #88BF44 !important;
  height: 440px;
}

/* end header styling */

/* header positioning */

#header-absolute-1 {
  position: absolute;
  margin-left: -100px;
}

#header-absolute-2 {
  position: absolute;
}

#header-logo {
  position: relative;
  width: 100%;
}

/* end header positioning */

/* home page + misc styling */

a {
  color: #88BF44;
  text-decoration: none;
}

a:hover {
  color:  #3C3C3C;
}

#container {
  margin-top: 10px;
}

/* .message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
} */

/* .btn-danger{
  margin-left: 10px;
} */

/* .navbar {
  background-color: #3C3C3C;
  width: 100%;
  border-radius: 0px;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* li {
  float: left;
} */

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  text-decoration: underline;
  color: #eee;
} */

#login-btn {
  margin-top: -25px;
}

.btn-green {
  background-color: #88BF44 !important;
  color: #f8f8f8 !important;
}

.btn-dkgrn {
  background-color: #266B26 !important;
  color: #f8f8f8 !important;
}

.btn-grey {
  background-color: #3C3C3C !important;
  color: #f8f8f8 !important;
}

input {
  color: #3C3C3C !important;
  font-family: 'Karla', sans-serif;
  
}

#googleInput {
  padding-top: 25px;
  width: 380px;
}

.search-input {
  padding-top: 30px;
}

#mission-statement {
  width: 600px;
  padding: 20px;
  /* background-color: #266B26; */
  color: #f8f8f8;
  text-align: center;
  font-style: italic;
}

/* .info-box {
  width: 20%;
  height: 100px;
  margin: 10px;
  margin-bottom: 50px;
  background-color: #f8f8f8;
} */


md-input-container .md-input {
  border-color: #3C3C3C;
}

.md-input-focused label {
  color: #88BF44 !important;
}

.md-input-focused .md-input  {
  border-color: #88BF44 !important;
}

#start-search {
  font-size: 22px;
  color: #f8f8f8;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

.search-bars {
  width: 380px;
  /* height: 40px; */
}

.md-whiteframe {
  /* transition:all ease-in 1s; */
  background-color: #f8f8f8;
  height: 80px;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 1% */
}

.ng-hide {
  height: 0;
}

.hsAutocomplete{
  transition: all ease-in 1s;
}

/* .md-whiteframe-11dp.ng-enter {
  transition:all ease-in 0.25s;
  height: 0px;

} */

/* end home page + misc styling */

/* directory view */

.directory-profile-photo-container {
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.directory-profile-photo-container img {
  height: auto;
  width: 350px;
}

.directory-container {
  padding: 20px;
  padding-top: 0px;
}

.therapist-name {
  font-size: 16px;
  font-weight: bold;
}

.therapist-title {
  font-size: 12px;
  width: 250px;
}

#directory-grid {
  width: 1200px;
}

/* end directory view */

/* pagination styling */

.pagination-div {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 50px;
  width: 100%;
}

.pagination {
  position: relative;
  width: 100%;
}

.page {
  background-color: #88BF44;
  border: .5px solid #f8f8f8;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: #f8f8f8;
  text-decoration: none;
  text-align: center;
  width: 20px;
}

.no-under {
  text-decoration: none;
}

.page a:visited {
  background-color: #88BF44;
  color: #f8f8f8;
}

.page:active {
  background-color: #f8f8f8;
  color: #88BF44;
}

.page:hover {
  background-color: #f8f8f8;
  color: #88BF44;
}

/* end pagination styling */

/* therapist profile modal */

/* This here is not working */
#registerConfirmModal {
  /* text-align: center; */
  width: 800px;
}

.therapist-modal-photo-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.therapist-modal-photo-container img {
  width: 100%;
  height: auto;
}

#therapistModalCol1{
  width: 30%;
  padding: 5px;
}

#therapistModalCol2{
  width: 70%;
  padding: 0px 10px 0px 10px;
  font-size: 14px;
  text-align: left;
  /* margin: 5px; */
  margin-left: 25px;
}

#therapistModalCol3{
  width: 25%;
  padding: 5px;
  margin-left:5px;
}

/* #specialtiesBulletIcon {
  list-style-image: url('/images/ic_stars_black_18dp_1x.png') !important;
  /* list-style-type: circle !important; */
  overflow: visible !important;
  vertical-align: bottom;
  margin-left: 25px;
}

#issuesBulletIcon {
  list-style: disc !important;
  /* list-style-type: circle !important; */
  overflow: visible !important;
  vertical-align: bottom;
  margin-left: 25px;
} */

#therapist-modal-buttons {
  margin-bottom: 15px;
}

.modal-name {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* end therapist profile modal */

/* sidebar styling */

#menu-open {
  font-size: 36px !important;
  color: #266B26;
}

.close-btn {
  width: 50%;
}

#directory-btn-space {
  margin-top: 15px;
  margin-left: 20px;
}

#side-nav-out {
  padding-top: 20px;
  background-color: #f8f8f8;
  width: 20%;
}

#side-nav-in {
  /* background-color: #1CCE28; */
  /* height:  */
  /* width: 40px; */
  /* margin-left: 10.5%; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}

#sidebar-button {
  padding: 0px !important;
}

.sidebar-filter {
  margin: 5px;
}

.profile-links {
  font-size: 20px;
  font-weight: bold;
}

/* end sidebar styling */

/* modal styling */

#registerConfirmModal{
  height:375px;
  width: 600px;
  text-align: center;
}

#emailIcon{
  font-size: 70px;
  padding-bottom: -10px;
}

/* end modal styling */

/* therapist profile dashboard view */

.chippies {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

md-chips .md-chips.md-focused {
  box-shadow: 0 2px #88BF44;
}

md-chips md-chip.md-focused {
  background: #88BF44;
}

#leftColumn {
  height: 100%;
}

/* #menuOpenIcon:hover {
  opacity: 0.7
} */

#first-column {
  margin-left: 0px !important;
}

#photo-upload img:hover {
  opacity: 0.4;
  transition: 0.15s;
  /* background-color: red; */
}

#therapistTitle {
  margin-bottom: 0px;
  margin-top: 0px;
}

.therapist-column {
  margin-left: 20px;
  margin-right: 20px;
}

.therapist-input {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#name {
  width: 60%;
  font-size: 18px;
}

#name input {
  font-weight: bold;
}

#license {
  width: 40%;
  font-size: 18px;
}

#license input {
  font-weight: bold;
}

#address {
  width: 70%;
}

#zip {
  width: 30%;
}

textarea {
  font-family: 'Karla', sans-serif;
}

.top-container {
  margin-top: 25px;
}

#active {
  font-size: 12px;
  font-style: italic;
}

.titles {
  margin-top: 0px;
  margin-bottom: 0px;
}

#bio-box {
  border-style: solid;
  border-width:1px;
  width: 100%;
  height: 300px !important;
  overflow-y: scroll;
  /* margin-bottom: -500px; */
}

#healthcareTypeahead {
  margin-top: 0px;
}

#healthcare-box {
  border-style: solid;
  border-width:1px;
  width: 100%;
  /* height:100px !important; */
  overflow-y: scroll;
  margin-top: 0px !important;
}

.therapist-preferences {
  margin-top: 0px;
}

#specialties-box {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  /* height:100px; */
  margin-bottom:20px;
  margin-top:150px;
}

#struggles-box {
  border-style: solid;
  border-width:1px;
  width: 100%;
  /* height:100px; */
  margin-bottom:20px;
  margin-top:150px;
}

/* end therapist profile dashboard view */

/* therapist public profile view */

.therapist-profile-photo-container {
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.therapist-profile-photo-container img {
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-appt {
  background-color: rgb(255, 196, 0) !important;
  color: black !important;
  margin-top: 30px;
}

/* end therapist public profile view */

/* appointments page */

.therapist-profile-photo-container-appts{
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin:25px;
}

.therapist-profile-photo-container-appts img{
  width: 100%;
  height: auto;
}

/* end appointments page */

#carousel{
  width: 25%;
}
.box-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.carousel-prev {
  position: absolute;
  top: 50%;
  left: -80px;
}
.carousel-next {
  position: absolute;
  top: 50%;
  right: -80px;
}

.slider {
  -webkit-box-shadow: 8px 5px 15px 0px rgba(0,0,0,0.32); 
box-shadow: 8px 5px 15px 0px rgba(0,0,0,0.32);
}

#apptButton {
  margin: 0px;
  margin-bottom: -15px;
  padding: 0px !important;
  height: 5px !important;
}

#apptButton:hover {
  background-color:#88BF44!important;

}


#apptCard {
  width: 12%;
  vertical-align: top;
 

}

#apptCard h4{
  margin:0px;
  padding: 6px;
  background-color: #3C3C3C;
  overflow: hidden;
  color: white;
}

#apptCardContent{
  align-self: center;
}

#cardRow{
  margin-left:15px;
  margin-right:15px;
  align-content: top;
}

#todayBorder {
  background-color: white!important;
  color: red !important;
  text-align: center;
  font-size: 18px;
}

/* end appt page */

/* appt request modal */

#apptRequestDialogBox{
  width: 700px;
  background-color:#f8f8f8;
}

#apptRequestModalCol1 {
  background-color:#f8f8f8;
  width:50%;
  padding: 15px;
  text-align: center;
}

#apptRequestModalCol2 {
  background-color:#f8f8f8;
  width:50%;
  padding: 30px;
  margin-left:40px;
}

#apptRequestModalCol2 h3{
margin-bottom:-20px
}

.therapist-profile-photo-container-appts_modal {
  height: 175px;
  width: 175px;
  overflow: hidden;

}

.therapist-profile-photo-container-appts_modal img {
  width: 100%;
  height: auto;
}

.apptRequestModalInput {
  margin: 0px;
}


.divider{
  position:absolute;
  left:50%;
  top:10%;
  bottom:18%;
  border-left:1px solid black;
}

/* appt request modal end */

/* appt request confirm modal */

#apptConfirmDialogBox{
  width: 700px;
  background-color:#f8f8f8;
}
