body, html {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  /* font-weight: 200; */
  font-size: 16px;
  color: #3C3C3C;
}

/* header styling */

.header .container h1 {
  font-size: 32px;
  font-weight: 600;
  /* color: #1CCE28; */
}

.header {
  background-color: #f8f8f8;
  color: #3C3C3C;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#funny-slash {
  color:  rgba(28, 206, 40, 0.9);
}

.slim-header {
  height: 50px;
}

/* end header styling */

/* header positioning */

#header-absolute-1 {
  position: absolute;
  margin-left: -100px;
}

#header-absolute-2 {
  position: absolute;
}

#header-logo {
  position: relative;
  width: 100%;
}

/* end header positioning */

/* misc styling */

a {
  color: rgba(28, 206, 40, 0.9);
  text-decoration: none;
}

a:hover {
  color:  #3C3C3C;
}

#container {
  margin-top: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #3C3C3C;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* li {
  float: left;
} */

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  text-decoration: underline;
  color: #eee;
} */

#login-btn {
  margin-top: -25px;
}

.btn-green {
  background-color: rgba(28, 206, 40, 0.9) !important;
}

.md-whiteframe-11dp{
  transition:all ease-in 1s;
  background-color: lightblue;
  height: 175px;
  width: 400px;
  padding:10px;
  padding-bottom:0px !important;
  border-radius: 1%
}

.ng-hide {
  height: 0;
}

.hsAutocomplete{
  transition: all ease-in 1s;
}

/* .md-whiteframe-11dp.ng-enter {
  transition:all ease-in 0.25s;
  height: 0px;

} */

#googleInput {
  height: 40px;
  width: 380px;
  
}

/* end misc styling */

/* directory view */

.directory-profile-photo-container {
  height: 250px;
  width: 250px;
  /* display: table-cell; */
  overflow: hidden;
}

.directory-profile-photo-container img {
  height: auto;
  width: 350px;
}

.directory-container {
  padding: 5px;
}

.therapist-name {
  font-size: 16px;
  font-weight: bold;
}

.therapist-title {
  font-size: 12px;
  width: 250px;
}

#directory-grid {
  width: 1050px;
}

/* end directory view */

/* pagination styling */

.pagination-div {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 50px;
  width: 100%;
}

.pagination {
  position: relative;
  width: 100%;
}

.page {
  background-color: rgba(28, 206, 40, 0.9);
  border: .5px solid #f8f8f8;
  font-size: 14px;
  padding: 10px;
  color: #3C3C3C;
  text-decoration: none;
}

.no-under {
  text-decoration: none;
}

.page a:visited {
  background-color: rgba(28, 206, 40, 0.9);
  color: #f8f8f8;
}

.page:active {
  background-color: #f8f8f8;
  color: rgba(28, 206, 40, 0.9);
}

.page:hover {
  background-color: #f8f8f8;
  color: rgba(28, 206, 40, 0.9);
}

/* end pagination styling */

/* therapist profile modal */

/* This here is not working */
.md-dialog-content{
  width: 900px;
  height:900px;
}

.therapist-modal-photo-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.therapist-modal-photo-container img {
  width: 100%;
  height: auto;

}

#therapistModalCol1{
  width: 30%;
  padding: 5px;
}

#therapistModalCol2{
  width: 50%;
  padding: 0px 10px 5px 10px;
  font-size: 12.5px;
}

#therapistModalCol3{
  width: 20%;
  padding: 5px;
  margin-left:20px;
}

#specialtiesBulletIcon {
  list-style-image: url('/images/ic_stars_black_18dp_1x.png') !important;
  /* list-style-type: circle !important; */
  overflow: visible !important;
  vertical-align: bottom;
  margin-left: 25px;
}

#issuesBulletIcon {
  list-style: disc !important;
  /* list-style-type: circle !important; */
  overflow: visible !important;
  vertical-align: bottom;
  margin-left: 25px;
}


/* end therapist profile modal */



/* sidebar styling */

#close-btn {
  width: 50%;
}

#side-nav-out {
  padding-top: 20px;
  background-color: #f8f8f8;
  width: 20%;
}

/* #side-nav-in {
  background-color: #1CCE28;
  height: 3000px;
  width: 10%;
} */

/* end sidebar styling */

/* therapist view */

#leftColumn {
  height: 100%;
}

#therapistTitle {
  font-size: 50px;
}

#menuOpenIcon:hover {
  opacity: 0.7
}


