<md-dialog aria-label="" ng-cloak  flex-sm="100" id = "apptRequestDialogBox" >
  <form ng-submit="emailRequest(patient)" name = "requestForm"> 

        <div layout="row">
        <div id = "apptRequestModalCol1">       
          <md-dialog-content>
            <md-content layout="column" layout-align="center center" id = "apptRequestModalContentLeft">
              <h3>Email {{patient.therapist.full_name}} to request your appointment.</h3>
              <h4>{{patient.date}}</h4>
              <md-input-container class = "apptRequestModalInput">
                  <label>First and last name</label>
                  <input ng-model="patient.name" name = "name" required >
                  <div ng-messages="requestForm.name.$error">
                      <div ng-message="required">HELLO</div>
                    </div>
              </md-input-container>

              <md-input-container class = "apptRequestModalInput">
                <label for="email">Email</label>
                <input type="email" ng-model="patient.email" name = "email" required>
                <div ng-messages="requestForm.email.$error"></div>
              </md-input-container>

              <md-input-container class = "apptRequestModalInput">
                    <label>Phone Number</label>
                   <input type="number" ng-model="patient.number" name = "phone" required>
                   <div ng-messages="requestForm.phone.$error"></div>

                </md-input-container>

              <md-input-container layout-align="center center">
              </md-input-container>
            </md-content>
          </div> 

          <div class = "divider"></div>
          <div id = "apptRequestModalCol2">  
              <div class="therapist-profile-photo-container-appts_modal">
                  <img ng-src="{{patient.therapist.profile_picture}}">
          </div>
              <h3>{{patient.therapist.full_name}}</h3> <br>
                 <p><strong>{{patient.therapist.license_type}}</strong></p>
                 <p>{{patient.therapist.website}}</p>   
  
              </div>
         </div>
            <md-dialog-actions layout="row" layout-align="center center">
              <md-button type="submit" class="btn-dkgrn md-raised">Request</md-button>
              <md-button class="btn-green md-raised" ng-click="close()">Back to Appointments</md-button>
            </md-dialog-actions>
          </md-dialog-content>
        </form>
        <br>
       
      </md-dialog>

     