<md-dialog id="apptConfirmDialogBox">
        <div class="md-dialog-content">
                <md-dialog-content layout-align="center center">
                        <div layout="column" layout-align="center center">
                                 <i class="material-icons" id = "checkIcon">check_circle</i>                                
                                 <br>
                                <h3>THANK YOU!</h3>
                                <p>Your appointment request has been sent.
                                        <br><br>
                                This is not an appointment confirmation, 
                                the therapist will follow up with you shortly 
                                using your preferred method of communication.</p>
                        </div>
                </md-dialog-content>
                <md-dialog-actions layout="row" layout-align="center center">
                        <md-button class="btn-green md-raised" ng-click="mc.close()"> close </md-button>
                </md-dialog-actions>
        </div>
        <br>
        <br>

</md-dialog>