<div ng-controller="LoginController as lc" class="header">
    <div class="container" layout="row" layout-align="space-between center">

        <h4>
            <a href="#directory">Directory</a>
        </h4>

        <h1>
            <a href="#home">MN Therapist Finder</a>
        </h1>

        <div class="container" layout="column" layout-align="start end">
            <h4>
                <a href="#register">Register</a> / <a href="#login">Login</a></h4>
            
        </div>
    </div>
</div>