<md-dialog id = "registerConfirmModal">
        <div class="md-dialog-content">
        <md-dialog-content>
        <div layout = "column" layout-align="center center">
                <i class="material-icons" id= "emailIcon">email</i>
                <br>
            <h3>PLEASE CONFIRM YOUR EMAIL ADDRESS</h3>
            <p>You will receive an email from xx@mntherapistfinder.com asking you to confirm your email address.</p>
            <p>You may begin building your profile, but you will not be listed in search results until your email has been confirmed.</p>
        </div>
        </md-dialog-content>
     
        
        <md-dialog-actions layout="row" layout-align="center center">
                <md-button class="btn-green md-raised" ng-click="mc.closeToLogin()"> Login </md-button>
        </md-dialog-actions>
    </div>
        <br>
        <br>
        
        </md-dialog>

        