<div class="container slim-header" layout="row" layout-align="start center" ng-controller="UserController as uc">
        <!-- <div id="header-logo" layout="column" layout-align="center start"> -->
            
            <img src="/images/mntf-logo-dark.png" height="40" class="slim-header-text">
            <h4>
                <a href="#home">MN Therapist Finder</a>
            </h4>
    
            <md-button class="btn-dkgrn md-raised" ng-click="uc.userService.logout()">Log Out</button>

    </div>
    