<header ng-include="'/views/partials/slimHeader.html'"></header>
<div class="container"  layout-padding layout-margin layout="row">
    <div flex = "10">
<div class = "therapist-profile-photo-container-appts" >
        <img ng-src = "{{pc.therapistProfileInfo.list[0].profile_picture}}">
      </div>
    </div>
    <div flex>
      <h2>{{pc.therapistProfileInfo.list[0].full_name}}</h2>
          <strong><p>{{pc.therapistProfileInfo.list[0].license_type}}</p></strong>
        </div>
</div>
<div class = "cardRow" layout-wrap layout="row" layout-align="center start" layout-xs="column" layout-s="column">
<md-card id = "apptCard" ng-repeat = "day in pc.days track by $index">
        <h4>{{day.date}}</h4>
        <h4 id = "todayBorder" ng-if = "day === pc.days[0]">TODAY</h4>
    <md-card-content id = "apptCardContent" ng-repeat = "date in day.apptArray;">
        <md-button id = "apptButton"  ng-click = "pc.appointmentForm(date,pc.therapistProfileInfo.list[0].email)" >{{date}}</md-button> 

</md-card-content>
    </md-card>
</div>

