<div layout="column" layout-align="space-around center">

    <md-sidenav layout="column" layout-align="center center" md-component-id="left" class="md-sidenav-left">
        sidebar content
        <br>
        <md-button id="close-btn" class="btn-green" layout="column" layout-align="center center" ng-click="dc.openLeftMenu()">CLOSE</md-button>
    </md-sidenav>

    <!-- ^ IF WE WANT SIDEBAR TO START OPEN: md-is-open="dc.startOpen" ^ -->

    <md-content>
        sidebar
        <md-button ng-click="dc.openLeftMenu()" layout-align="start start">
            filter results
        </md-button>
    </md-content>

    <div layout-wrap layout="row" layout-align="space-around center">
        <div dir-paginate="therapist in dc.therapistInfo.list | itemsPerPage:8">
            <!-- change to 8 when we have more examples set up -->
            <div class="directory-container" md-is-locked-open="$mdMedia('min-width: 333px')">
                <div class="directory-profile-photo-container">
                    <img ng-src="{{therapist.profile_picture}}">
                </div>
                <div>
                    <ul>
                        <li class="therapist-name">{{therapist.full_name}}</li>
                        <li class="therapist-title">{{therapist.license_type}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div layout-margin>
        <div layout="row" layout-align="center center">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false" template-url="/views/partials/dirPagination.tpl.html"
                auto-hide="true">
                <dir-pagination-controls>
        </div>
    </div>
    