<div class="section">
    <h1>home</h1>
 <!-- Center column with search bars -->
    <div flex layout = "column" layout-align="center center" >
    <!-- Zip code search box -->
       <div class="md-whiteframe-11dp"> 
       <h3> Start Your Search:</h3>
       <md-autocomplete 
       md-selected-item = "hc.selectedItem"
       md-search-text-change = "hc.searchTextChange(hc.searchText)"
       md-search-text = "hc.searchText"
       md-selected-item-change = "hc.selectedItemChange(item)"
       md-items = "item in hc.issues | filter : hc.searchText "
       md-item-text = "item.name"
       md-min-length = "0"
       placeholder = "Enter Zip Code">
       
       <md-item-template>
          <span md-highlight-text = "hc.searchText"
             md-highlight-flags = "^i">{{item.name}}</span>
       </md-item-template>

       
       <md-not-found>
          No issues matching "{{hc.searchText}}" were found.
          <a ng-click = "hc.newIssue(hc.searchText)">Please pick an issue from the list.</a>
       </md-not-found>

    </md-autocomplete>
    <br>
    <div layout = "row" layout-align= "end center" >
        <md-button class="md-primary md-raised" ng-click = "showme=true;hc.searchZipCodes();hideHsButtons=true">Search</md-button>
        <md-button class="md-primary md-raised" ng-click = "">Skip</md-button>
    </div>
    
       </div>
       <br>

<!-- Struggles search box -->

       <div class="md-whiteframe-11dp" ng-show ="showme" > 
            <h3> Struggles:</h3>
            <md-autocomplete
            md-selected-item = "hc.selectedItem"
            md-search-text-change = "hc.searchTextChange(hc.searchText)"
            md-search-text = "hc.searchText"
            md-selected-item-change = "hc.selectedItemChange(item)"
            md-items = "item in hc.issues | filter : hc.searchText "
            md-item-text = "item.name"
            md-min-length = "0"
            placeholder = "What are you struggling with?">
            
            <md-item-template>
               <span md-highlight-text = "hc.searchText"
                  md-highlight-flags = "^i">{{item.name}}</span>
            </md-item-template>
     
            
            <md-not-found>
               No issues matching "{{hc.searchText}}" were found.
               <a ng-click = "hc.newIssue(hc.searchText)">Please pick an issue from the list.</a>
            </md-not-found>
     
         </md-autocomplete>
       <br>
         <div layout = "row" layout-align= "end center" >
         <md-button class="md-primary md-raised" ng-click = "showme2=true">Search</md-button>
         <md-button class="md-primary md-raised" ng-click = "">Skip</md-button>
         </div>

    </div>

    <br>

<!-- Insurance Search box -->

<div class="md-whiteframe-11dp" ng-show ="showme2" > 
        <h3> Insurance:</h3>
        <md-autocomplete
        md-selected-item = "hc.selectedItem"
        md-search-text-change = "hc.searchTextChange(hc.searchText)"
        md-search-text = "hc.searchText"
        md-selected-item-change = "hc.selectedItemChange(item)"
        md-items = "item in hc.issues | filter : hc.searchText "
        md-item-text = "item.name"
        md-min-length = "0"
        placeholder = "Type of insurance, if any.">
        
        <md-item-template>
           <span md-highlight-text = "hc.searchText"
              md-highlight-flags = "^i">{{item.name}}</span>
        </md-item-template>
 
        
        <md-not-found>
           No issues matching "{{hc.searchText}}" were found.
           <a ng-click = "hc.newIssue(hc.searchText)">Please pick an issue from the list.</a>
        </md-not-found>
 
     </md-autocomplete>
   <br>
     <div layout = "row" layout-align= "end center">
     <md-button class="md-primary md-raised" ng-click = "">Search</md-button>
     <md-button class="md-primary md-raised" ng-click = "">Skip</md-button>
     </div>

</div>

</div>
</div>