<header ng-include="'/views/partials/header.html'"></header>

<div class="container"  layout="column" layout-align="center center">
  <h1 >Register as a Therapist</h1>
  <h4 role="alert" ng-if="lc.message != ''">{{lc.message}}</h4>
    <form name="registerForm" ng-submit="lc.registerUser()">
      <div>
        <div class="container">
          <div layout="row">
          <div>
            <md-input-container class="login">
              <label>Full Name</label>
              <input ng-model="lc.user.name" required>
            </md-input-container>
          </div>
          <div>
            <md-input-container class="login">
              <label>Email</label>
              <input ng-model="lc.user.username" type="email" required>
            </md-input-container>
          </div>
        </div>
<div layout="ro">
          <div>
            <md-input-container class="login">
              <label>Password</label>
              <input ng-model="lc.user.password" type="password" id="pw1" name="pw1" pw-check="confirmPassword" required>
            </md-input-container>
          </div>
          <div>
            <md-input-container class="login">
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" ng-model="confirmPassword" required/> 
            </md-input-container>
          </div>
</div>
          </div>
        </div>
        <div layout="row" layout-align="center center">
        <md-button type="submit" class="btn-green md-raised">Register</md-button>
        <md-button href="#home" class="btn-green md-raised">Cancel</md-button>
      </div>
      </div>
      <div ng-messages ="registerForm.password.$error">
        <ng-message = "password">
            passwords dont match
        </ng-message>
      </div>
           </form>

  </div>
