<header ng-include="'/views/partials/header.html'"></header>

<div class="container"  layout="column" layout-align="center center">
  <h1 >Register as a Therapist</h1>
  <h4 role="alert" ng-if="lc.message != ''">{{lc.message}}</h4>
    <form ng-submit="lc.registerUser()">
      <div>
        <div class="container" layout="row">
          <div>
            <md-input-container>
              <label>Full Name</label>
              <input ng-model="lc.user.name">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Email</label>
              <input ng-model="lc.user.username" type="email">
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <label>Password</label>
              <input ng-model="lc.user.password" type="password">
            </md-input-container>
          </div>
        </div>
        <div layout="row" layout-align="center center">
        <md-button type="submit" class="btn-green md-raised">Register</md-button>
        <md-button href="#home" class="btn-green md-raised">Cancel</md-button>
      </div>
      </div>
    </form>
  </div>
