<link rel="stylesheet" href="styles/schedule-style.css">

<section layout="row">
    
    <md-content layout="row" flex="66" layout-wrap>
        <md-card ng-repeat="d in sc.dates" ng-class="$ctrl.getColor($index)" class="md-whiteframe-z2" flex flex-sm="40" flex-xs="100">
            <md-card-content>
                <h2>{{d.k | date:'dd-MMM-yyyy'}}</h2>
                <p layout="column">
                    <md-button class="md-warn md-raised" 
                    ng-repeat="i in d.v"
                    ng-click="sc.showAdvanced(i)"
                    ng-disabled="!i.active"
                    flex>
                        {{i.date | date:'h:mma'}}
            
                    </md-button>
                </p>
            </md-card-content>
            <md-card-footer></md-card-footer>
        </md-card>
        
    </md-content>
    <md-card class="md-whiteframe-z2" flex="33">
        <md-card-content>
            <h2>Times I Posted</h2>
            <p layout="column" ng-repeat="a in sc.appointments track by $index">
                Avaliable at {{a.available_times| date:'dd-MMM-yyyy @ h:mma'}}
            </p>
        </md-card-content>
        <md-card-footer></md-card-footer>
    </md-card>
    </section>
    
    
    
    