<header ng-include="'/views/partials/slimHeader.html'"></header>

<div class="container" layout-padding layout="row">

    <!-- sidebar -->
    <md-sidenav layout="column" layout-align="start center" md-component-id="left" class="md-sidenav-left" id="side-nav-out">
        <a href="#home">
            <img src="/images/mntf-logo-light.png" height="100">
        </a>
        <br>
        <div layout="column" layout-align="center center">
            <a href="#user" class="profile-links">Profile</a>
        </div>
        <div layout="column" layout-align="center center">
            <a href="#schedule" class="profile-links">Schedule</a>
        </div>
        <br>
        <md-button class="btn-green close-btn" layout="column" layout-align="center center" ng-click="uc.openLeftMenu()">CLOSE</md-button>
        <md-button class="btn-dkgrn close-btn" ng-click="uc.userService.logout()">Log Out</button>
    </md-sidenav>

    <div layout="row">

        <md-content id="side-nav-in" layout="row" layout-align="start start">

            <i id="menu-open" class="material-icons" ng-click="uc.openLeftMenu()">menu</i>

        </md-content>
    </div>

    <!-- first column -->

    <div flex="25" id="first-column" class="therapist-column">
        <div id="photo-upload" class="therapist-profile-photo-container-dashboard" flex="100">
            <img ng-src="{{uc.therapist.list[0].profile_picture}}" ng-click="uc.openPicker()" ng-model="uc.therapist.list[0].profile_picture">
        </div>
        <form>
            <b>Account Status:</b>
            <p ng-show="uc.therapist.list[0].is_active" class="activeStatus">Active!</p>
            <p ng-hide="uc.therapist.list[0].is_active" class="notActiveStatus">Not Active</p>
            <md-input-container class="therapist-input top-container">
                <label>Email Address</label>
                <input ng-model="uc.therapist.list[0].email" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus>
            </md-input-container>

            <md-input-container class="therapist-input">
                <label>Phone Number</label>
                <input ng-model="uc.therapist.list[0].phone" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus>
            </md-input-container>

            <md-input-container class="therapist-input">
                <label>Website</label>
                <input ng-model="uc.therapist.list[0].website" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus>
            </md-input-container>

            <div layout="row">
                <md-input-container id="address" class="therapist-input">
                    <!-- <label>Street Address</label> -->
                    <input ng-model="uc.therapist.list[0].workplace_street_address" ng-change="uc.checkTherapistObjects()" lat="uc.therapist.list[0].lat" lng="uc.therapist.list[0].lng"  googleplace2 aria-label="google place">

                </md-input-container>
<!-- 
                <md-input-container id="zip" class="therapist-input">
                    <label>Zip Code</label>
                    <input ng-model="uc.therapist.list[0].workplace_zipcode" ng-change="uc.checkTherapistObjects()">
                </md-input-container> -->
            </div>

            <div layout="row">
                <md-input-container id="address" class="therapist-input">
                    <label>Education</label>
                    <input ng-model="uc.therapist.list[0].school" ng-change="uc.checkTherapistObjects()" md-select-on-focus>
                </md-input-container>

                <md-input-container id="zip" class="therapist-input">
                    <label>Years Practicing</label>
                    <input ng-model="uc.therapist.list[0].years_in_practice" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus>
                </md-input-container>
            </div>
        </form>

    </div>

    <!-- second column -->

    <div flex="50" class="therapist-column" layout="column" layout-align="center none">

        <div layout="row">

            <md-input-container id="name">
                <label>Name</label>
                <input ng-model="uc.therapist.list[0].full_name" ng-change="uc.checkTherapistObjects()" md-select-on-focus>
            </md-input-container>
            <!-- <h1 id="therapistTitle">{{uc.therapist.list[0].full_name}}</h1> -->

            <md-input-container id="license">
                <label>License Type</label>
                <input ng-model="uc.therapist.list[0].license_type" ng-change="uc.checkTherapistObjects()" md-select-on-focus>
            </md-input-container>
        </div>
        <!-- <div layout="row">
            <div> -->
        <!-- <h4 class="title">{{uc.therapist.list[0].license_type}}</h4> -->
        <!-- </div> -->
        <!-- </div> -->

        <!-- biography -->
        <md-input-container md-no-float class="titles">
            <!-- <label>Your Biography</label> -->
            <textarea id="bio-box" ng-model="uc.therapist.list[0].biography" ng-change="uc.checkTherapistObjects()" md-maxlength="1500"
                rows="10" md-select-on-focus placeholder="Enter your bio here! The first 300 characters will be displayed as a preview to potential patients."></textarea>
        </md-input-container>

        <div layout-align="start center" id="healthcareTypeahead" flex>
            <div class="therapist-input">
                <h3 class="titles">Accepted Insurance</h3>
                <br>
                <!-- insurance chips -->
                <md-chips ng-model="uc.insuranceDropDown" md-autocomplete-snap md-transform-chip="uc.transformChip($chip); uc.addHealthcareProvider($chip.id)"
                    md-require-match="uc.autocompleteDemoRequireMatch" md-on-remove="uc.deleteHealthcare($chip.id)">

                    <md-autocomplete md-selected-item="uc.selectedInsurance" md-search-text="searchTextInsurance" md-items="provider in uc.healthcare.list | filter : searchTextInsurance "
                        md-item-text="provider.insurance_name" placeholder="Healthcare providers">

                        <span md-highlight-text="searchTextInsurance" class="chippies">{{provider.insurance_name}}</span>

                    </md-autocomplete>

                    <md-chip-template>
                        <span>
                            <div class="chippies">{{uc.findNameById(uc.healthcare.list, $chip.id).insurance_name}}</div>
                        </span>
                    </md-chip-template>
                </md-chips>
            </div>
        </div>
    </div>

    <!-- third column -->

    <div flex="25" class="therapist-column">
        <div layout="column" class="titles" flex>
            <div style="height: 20px" flex="60">
                <!-- specialties chip -->
                <h3>Treatment Specialties</h3>
                <p id="active">Please limit to 3 specialties.</p>

                <br>
                <div class="therapist-input">

                    <md-chips ng-model="uc.specialtiesDropDown" md-autocomplete-snap md-transform-chip="uc.transformChip($chip); uc.addSpecialty($chip.id)"
                        md-require-match="uc.autocompleteDemoRequireMatch" md-max-chips="3" md-min-length="0" md-on-remove="uc.deleteSpecialty($chip.id)">

                        <md-autocomplete md-selected-item="uc.selectedSpecialty" md-search-text="searchTextSpecialty" md-items="specialty in uc.specialties.list | filter : searchTextSpecialty "
                            md-item-text="specialty.specialty_name" placeholder="Select specialties">

                            <span md-highlight-text="searchTextSpecialty" class="chippies">{{specialty.specialty_name}}</span>

                        </md-autocomplete>

                        <md-chip-template>
                            <span>
                                <div class="chippies">{{uc.findNameById(uc.specialties.list, $chip.id).specialty_name}}</div>
                            </span>
                        </md-chip-template>
                    </md-chips>


                    <h3>Struggles</h3>
                    <p id="active">Please limit to 10 struggles.</p>
                    <br>
                    <!-- struggles chips -->
                    <md-chips ng-model="uc.strugglesDropDown" md-autocomplete-snap md-transform-chip="uc.transformChip($chip); uc.addUserIssue($chip.id)"
                        md-require-match="uc.autocompleteDemoRequireMatch" md-max-chips="10" md-min-length="0" md-on-remove="uc.deleteUserIssue($chip.id)">

                        <md-autocomplete md-selected-item="us.selectedItemIssues" md-search-text="searchTextIssue" md-items="theIssue in uc.issues.list | filter : searchTextIssue"
                            md-item-text="theIssue.issue_name" placeholder="Select struggles">

                            <span md-highlight-text="searchTextIssues" class="chippies">{{theIssue.issue_name}}</span>

                        </md-autocomplete>

                        <md-chip-template>
                            <span>
                                <div class="chippies">{{uc.findNameById(uc.issues.list, $chip.id).issue_name}}</div>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
                <br>

                <div layout="column" layout-align="center end">
                    <md-button ng-disabled="uc.therapistObjectsEqual" class="btn-dkgrn close-btn" ng-click="uc.saveProfile(uc.therapist.list[0]);vm.therapistObjectsEqual=true">save changes</md-button>
                    <p ng-hide="uc.therapistObjectsEqual">Changes Have Been Made! Please click the save changes button</p>
                </div>
                <br>
                <div layout="column" layout-align="center end">
                    <md-switch class="top-container" ng-change="uc.checkTherapistObjects()" ng-model="uc.therapist.list[0].is_active" aria-label="Switch 1">
                        <label>Active?</label>
                        {{ uc.therapist.list[0].is_active }}
                        <br>
                        <br>
                    </md-switch>
                    <p id="active">Profile must be set to active to appear in search results.</p>
                {{uc.therapist}}
                </div>

                
            </div>
        </div>
    </div>