<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<header ng-include="'/views/partials/slimHeader.html'"></header>

<div class="container" layout-padding layout="row">

    <!-- sidebar -->

    <md-sidenav layout="column" layout-align="start center" md-component-id="left" class="md-sidenav-left" id="side-nav-out">
        <a href="#home"><img src="/images/mntf-logo-light.png" height="100"></a>
        <br>
        <div layout="column" layout-align="center center">
            <a href="#user">Profile</a>
        </div>
        <div layout="column" layout-align="center center">
            <a href="#schedule">Schedule</a>
        </div>
        <br>
        <md-button class="btn-green close-btn" layout="column" layout-align="center center" ng-click="uc.openLeftMenu()">CLOSE</md-button>
        <md-button class="btn-dkgrn close-btn" ng-click="uc.userService.logout()">Log Out</button>
    </md-sidenav>

    <div layout="row">

                <md-content id="side-nav-in" layout="row" layout-align="start start">
                                    <!-- sidebar -->

                    <i id="menu-open" class="material-icons" ng-click="uc.openLeftMenu()">more_vert</i>

            </md-content>
        </div>

        <!-- first column -->

        <div flex="25" id="first-column" class="therapist-column">
            <div class="therapist-profile-photo-container" flex="100">
                <img ng-src="{{uc.therapist.list[0].profile_picture}}" ng-click="uc.openPicker()" ng-model="uc.therapist.list[0].profile_picture">
            </div>

            <md-input-container class="therapist-input top-container">
                <label>Email Address</label>
                <textarea ng-model="uc.therapist.list[0].email" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container class="therapist-input">
                <label>Website</label>
                <textarea ng-model="uc.therapist.list[0].website" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container class="therapist-input">
                <label>Address</label>
                <textarea ng-model="uc.therapist.list[0].workplace_street_address" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus></textarea>
            </md-input-container>


            <md-switch class="top-container" ng-model="data.cb1" aria-label="Switch 1">
                <label>Active?</label>
                Switch 1: {{ data.cb1 }}
                <br>
                <br>
            </md-switch>
            <p id="active">Profile must be set to active to appear in search results.</p>


        </div>

        <!-- second column -->

        <div flex="50" class="therapist-column" layout="column" layout-align="center none">

            <div layout="row">
                <div>
                    <h1 id="therapistTitle">{{uc.therapist.list[0].full_name}}</h1>
                </div>
            </div>
            <div layout="row">
                <div>
                    <h4 class="title">{{uc.therapist.list[0].license_type}}</h4>
                </div>
            </div>

            <!-- biography -->
            <md-input-container class="titles">
                <label>Your Biography</label>
                <textarea id="bio-box" ng-model="uc.therapist.list[0].biography" ng-change="uc.checkTherapistObjects()" md-maxlength="1500"
                    rows="10" md-select-on-focus></textarea>
            </md-input-container>

            <div layout="row" layout-align="start center" id="healthcareTypeahead" flex>
                    <div class="therapist-input">
                            <h3 class="titles">Accepted Insurance</h3>
                            <br>
            <!-- insurance chips -->                            
            <md-chips ng-model="uc.insuranceDropDown" md-autocomplete-snap
              md-transform-chip="uc.transformChip($chip); uc.addHealthcareProvider($chip.id)"
              md-require-match="uc.autocompleteDemoRequireMatch"
              md-on-remove="uc.deleteHealthcare($chip.id)">

              <md-autocomplete md-selected-item="uc.selectedInsurance" 
              md-search-text="searchTextInsurance" 
              md-items="provider in uc.healthcare.list | filter : searchTextInsurance "
              md-item-text="provider.insurance_name" 
              placeholder="Healthcare providers">

        <span md-highlight-text="searchTextInsurance" class="chippies">{{provider.insurance_name}}</span>
    
      </md-autocomplete>

      <md-chip-template>
        <span>
          <div class="chippies">{{uc.findNameById(uc.healthcare.list, $chip.id).insurance_name}}</div>
        </span>
      </md-chip-template>
    </md-chips>
          
</div>
</div>
</div>

        <!-- third column -->

        <div flex="25" class="therapist-column">
            <div layout="column" class="titles" flex>
                <div style="height: 20px" flex="60">
                    <!-- specialties chip -->
                        <h3>Treatment Specialties</h3>
                        <p id="active">Please limit to 3 specialties.</p>

                        <br>
                        <div class="therapist-input">

                                <md-chips ng-model="uc.specialtiesDropDown" md-autocomplete-snap
                                md-transform-chip="uc.transformChip($chip); uc.addSpecialty($chip.id)"
                                md-require-match="uc.autocompleteDemoRequireMatch"
                                md-max-chips="3"
                                md-min-length="0"
                                md-on-remove="uc.deleteSpecialty($chip.id)">

                                <md-autocomplete md-selected-item="uc.selectedSpecialty" 
                                md-search-text="searchTextSpecialty" 
                                md-items="specialty in uc.specialties.list | filter : searchTextSpecialty "
                                md-item-text="specialty.specialty_name"  
                                placeholder="Select specialties">
                  
                          <span md-highlight-text="searchTextSpecialty" class="chippies">{{specialty.specialty_name}}</span>
                      
                        </md-autocomplete>
                  
                        <md-chip-template>
                          <span>
                            <div class="chippies">{{uc.findNameById(uc.specialties.list, $chip.id).specialty_name}}</div>
                          </span>
                        </md-chip-template>
                      </md-chips>

                    </div>
                </div>
            </div>


            <div layout="column">
                <div style="margin-top:250px; height: 20px" flex="60">
                    <div class="therapist-input">
                            <h3>Struggles</h3>
                            <p id="active">Please limit to 10 struggles.</p>
                            <br>
                            <!-- struggles chips -->
                            <md-chips ng-model="uc.strugglesDropDown" md-autocomplete-snap
                            md-transform-chip="uc.transformChip($chip); uc.addUserIssue($chip.id)"
                            md-require-match="uc.autocompleteDemoRequireMatch"
                            md-max-chips="10"
                            md-min-length="0"
                            md-on-remove="uc.deleteUserIssue($chip.id)">
              
                            <md-autocomplete md-selected-item="us.selectedItemIssues" 
                            md-search-text="searchTextIssue" 
                            md-items="theIssue in uc.issues.list | filter : searchTextIssue"
                            md-item-text="theIssue.issue_name" 
                            placeholder="Select struggles">
              
                      <span md-highlight-text="searchTextIssues" class="chippies">{{theIssue.issue_name}}</span>
                  
                    </md-autocomplete>
              
                    <md-chip-template>
                      <span>
                        <div class="chippies">{{uc.findNameById(uc.issues.list, $chip.id).issue_name}}</div>
                      </span>
                    </md-chip-template>
                  </md-chips>
                    </div>
                    <br>
                    <div layout="column" layout-align="center end">
                        <md-button class="btn-dkgrn close-btn">save changes</md-button>
                    </div>
</div>
</div>
</div>
</div>


    <!-- ORIGINAL CODE -->

    <!-- FIRST COLUMN -->
    <!-- <div id="leftColumn" layout="column" style="width:600px;">
        <div layout="row">
            <img style="height:300px; margin:20px;" ng-src="{{uc.therapist.list[0].profile_picture}}" ng-click="uc.openPicker()" ng-model="uc.therapist.list[0].profile_picture"
                flex="60">
        </div>
        <div layout="row">
            <md-input-container flex="60">
                <label>Enter your email here</label>
                <textarea style="border-style: solid;border-width:2px" ng-model="uc.therapist.list[0].email" ng-change="uc.checkTherapistObjects()" rows="1" md-select-on-focus></textarea>
            </md-input-container> -->
    <!-- <button ng-click="editEmailIcon = !editEmailIcon"><img src="images/edit.png" alt=""></button> -->
    <!-- </div>
        <div layout="row">
            <md-input-container flex="60">
                <label>Website Address</label>
                <textarea style="border-style: solid;border-width:2px" rows="1" md-select-on-focus></textarea>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex="60">
                <label>Business Hours</label>
                <textarea style="border-style: solid;border-width:2px" rows="1" md-select-on-focus></textarea>
            </md-input-container>
        </div>
        <label for="">Active?</label>
        <div layout="row">
            <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Switch 1: {{ data.cb1 }}
            </md-switch>
        </div>
    </div> -->

    <!-- SECOND COLUMN -->

    <!-- <div layout="column" style="width:800px;">
        <div layout="row">
            <div style="height: 100px;margin:20px" flex="60">
                <h1 id="therapistTitle">{{uc.therapist.list[0].full_name}}</h1>
            </div>
        </div>
        <div layout="row" flex>
            <div style="height: 20px;margin:20px" flex="60">
                <h3>Title, Qualifications</h3>
            </div>
        </div> -->
    <!-- <br>
        <br>
        <br>
        <br>
        <div layout="row" id="biographyTextArea">
            <md-input-container style="height:400px;margin:20px;" flex="60">
                <label>Enter your Biography here</label>
                <textarea style="border-style: solid;border-width:2px" ng-model="uc.therapist.list[0].biography" ng-change="uc.checkTherapistObjects()"
                    md-maxlength="1500" rows="10" md-select-on-focus></textarea>
            </md-input-container>
        </div>
        <div layout="row" id="healthcareTypeahead" flex>
            <div style="height: 20px" flex="60">
                <h3>Add or edit a Healthcare Provider</h3>
                <br>
                <md-autocomplete md-selected-item="uc.selectedInsurance" md-search-text="searchTextInsurance" md-items="provider in uc.healthcare.list | filter : searchTextInsurance "
                    md-item-text="provider.insurance_name" md-min-length="0" placeholder="Add Healthcare Provider">

                    <md-item-template>
                        <span md-highlight-text="searchTextInsurance" md-highlight-flags="^i">{{provider.insurance_name}}</span>
                    </md-item-template>



                    <md-not-found>
                        No issues matching "{{searchTextInsurance}}" were found.
                        <a ng-click="newIssueHi(searchTextInsurance)">Please pick an issue from the list.</a>
                    </md-not-found>
                </md-autocomplete>
                <button ng-click="uc.addHealthcareProvider(uc.selectedInsurance.id)">+</button>
            </div>
        </div>
        {{uc.selectedInsurance}}
        <div layout="row" id="userHealthcareListContainer" style="margin-top:150px;">

            <div style="border-style: solid;border-width:2px;height:250px;margin-bottom:20px" flex="60">
                <ul style="text-align: center;padding-top:10px;" ng-repeat="healthcare in uc.therapist.list[0].insurance_plans" ng-change="uc.checkTherapistObjects()"
                    ng-model="uc.therapist.list[0].insurance_plans">

                    <li>
                        {{healthcare.name}}
                        <button ng-click="uc.deleteHealthcare(healthcare.id)">
                            <img src="images/delete.png" alt="deleteIcon">
                        </button>
                    </li>

                </ul>
            </div>
        </div>


    </div> -->

    <!-- THIRD COLUMN -->

    <!-- <div layout="column" style="width:800px;margin-top:50px;margin-bottom:60px;">
        <div layout="row">
            <div style="height:100px;" flex="60">
                <button ng-disabled="uc.therapistObjectsEqual">Save your profile Changes</button>
            </div>
        </div>

        <div layout="row" flex>
            <div style="height: 20px" flex="60">
                <h3>Add or edit a Specialty</h3>
                <br>
                <md-autocomplete md-selected-item="uc.selectedSpecialty" md-search-text="searchTextSpecialty" md-items="specialty in uc.specialties.list | filter : searchTextSpecialty "
                    md-item-text="specialty.specialty_name" md-min-length="0" placeholder="What are you looking for help with?">

                    <md-item-template>
                        <span md-highlight-text="searchTextSpecialty" md-highlight-flags="^i">{{specialty.specialty_name}}</span>
                    </md-item-template>



                    <md-not-found>
                        No issues matching "{{searchTextSpecialty}}" were found.
                        <a ng-click="newSpecialty(searchTextSpecialty)">Please pick an issue from the list.</a>
                    </md-not-found>
                </md-autocomplete>
                <button ng-click="uc.addSpecialty(uc.selectedSpecialty.id)">+</button>

            </div>
        </div>

        <div layout="row" id="userTherapistListContainer">

            <div style="border-style: solid;border-width:2px;height:250px;margin-bottom:20px;margin-top:150px;" flex="60">
                <ul style="text-align: center;padding-top:10px;" ng-repeat="specialty in uc.therapist.list[0].specialties" ng-model="uc.therapist.list[0].specialties"
                    ng-change="uc.checkTherapistObjects()">

                    <li>
                        {{specialty.name}}
                        <button ng-click="uc.deleteSpecialty(specialty.id)">
                            <img src="images/delete.png" alt="deleteIcon">
                        </button>
                    </li>

                </ul>
            </div>
        </div>

        <div layout="row" flex>
            <div style="height: 20px" flex="60">
                <h3>Add or edit an Issue</h3>
                <br>
                <md-autocomplete md-selected-item="uc.selectedItemIssuesHi" md-search-text="searchTextIssue" md-items="theIssue in uc.issues.list | filter : searchTextIssue "
                    md-item-text="theIssue.issue_name" md-min-length="0" placeholder="What are you looking for help with?">

                    <md-item-template>
                        <span md-highlight-text="searchTextIssue" md-highlight-flags="^i">{{theIssue.issue_name}}</span>
                    </md-item-template>



                    <md-not-found>
                        No issues matching "{{searchTextIssue}}" were found.
                        <a ng-click="newIssueHi(searchTextIssue)">Please pick an issue from the list.</a>
                    </md-not-found>
                </md-autocomplete>
                <button ng-click="uc.addUserIssue(uc.selectedItemIssuesHi.id)">+</button>

            </div>
        </div>

        <div layout="row" id="userIssuesListContainer">

            <div style="border-style: solid;border-width:2px;height:250px;margin-bottom:20px;margin-top:150px;" flex="60">
                <ul style="text-align: center;padding-top:10px;" ng-repeat="thing in uc.therapist.list[0].issues" ng-model="uc.therapist.list[0].issues"
                    ng-change="uc.checkTherapistObjects()">

                    <li>
                        {{thing.name}}
                        <button ng-click="uc.deleteUserIssue(thing.id)">
                            <img src="images/delete.png" alt="deleteIcon">
                        </button>
                    </li>

                </ul>
            </div>
        </div>

    </div>



</div> -->